<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>

  <body>
    <%- include('adminheader') %>
    <div class="container">
      <h1><%= title %></h1>
      <a href="/admin/logout" class="btn btn-danger">Logout from admin panel</a>
      <a href="/" class="btn btn-secondary">Go to Home</a>
      <!-- Display validation error message (if any) -->
      <% if (errorMessage) { %>
      <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
      <% } %>

      <!-- Display success message (if any) -->
      <% if (successMessage) { %>
      <div class="alert alert-success" role="alert"><%= successMessage %></div>
      <% } %>

      <!-- Card -->
      <div class="card mt-3">
        <div class="card-header">
          <h3 class="text-center">Add user</h3>
        </div>
        <div class="card-body">
          <!-- Sign-Up Form -->
          <form method="post" action="/admin/add-user">
            <div class="form-group">
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                placeholder="Enter Username"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                  required
                />
                <div class="input-group-append">
                  <span
                    class="input-group-text toggle-password"
                    id="togglePassword"
                    >Show</span
                  >
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  class="form-control"
                  placeholder="Confirm your password"
                  required
                />
                <div class="input-group-append">
                  <span
                    class="input-group-text toggle-password"
                    id="toggleConfirmPassword"
                    >Show</span
                  >
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="phone_number">Phone Number:</label>
              <input
                type="text"
                id="phone_number"
                name="phone_number"
                class="form-control"
                placeholder="Enter Your mobile number"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter your email"
                required
              />
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Card -->
    </div>

    <!-- Add Bootstrap JavaScript and jQuery (optional but recommended) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      const togglePasswords = document.querySelectorAll(".toggle-password");
      const passwordInput = document.getElementById("password");
      const confirmPasswordInput = document.getElementById("confirmPassword");

      togglePasswords.forEach((togglePassword) => {
        togglePassword.addEventListener("click", () => {
          if (passwordInput.type === "password") {
            passwordInput.type = "text";
            confirmPasswordInput.type = "text";
            togglePassword.textContent = "Hide";
          } else {
            passwordInput.type = "password";
            confirmPasswordInput.type = "password";
            togglePassword.textContent = "Show";
          }
        });
      });
    </script>
  </body>
</html>
