<!-- index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
  </head>

  <body>
    <%- include('header') %>
    <div class="container mt-4">
      <h1 class="text-center">Welcome to the Recipe Sharing App</h1>
    </div>

    <%- include('footer') %>
  </body>
</html>
